body, html {
    height: 100%;
    margin: 0;
}

.copy_right_footer
{
    position: fixed;
    color: rgb(0, 0, 0);
    bottom: 0;
    width: 100%;
    background-color: rgb(200, 255, 170);
    line-height: 4;
    text-align: center;
}

canvas 
{
    border: 10px solid rgb(146, 255, 224);
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgb(47, 63, 63);
}

.note {
    font-size: 20px;
}

.heading {
    font-size: 16px;
}